.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Text Styling */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

div#root {
  font-family: nunito, sans-serif;
}

/* Navbar Styling */
div#root > div > nav {
  background-color: #21272c;
  padding-left: 1rem;
  font-family: nunito, sans-serif;
};

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-img {
  height: -webkit-fill-available!important;
  padding: .15rem;
}

.home-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url('https://www.vasa.org.uk/site-content/uploads/2018/07/web-in-development.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.intro-text {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "nunito";
}

.intro-text-teal {
  color: #38b09a;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}

.RDS-logo {
  width: 100%;
  object-fit: cover;
}

.about-us-links {
  color: #38b09a;
}

.professional-icons {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#skill-section {
  margin-bottom: 5rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-size: 3.5rem;
}

.skill-names {
  font-size: small;
  margin: 1rem;
}

footer.page-footer {
  background-color: #38b09a;
  font-family: nunito, sans-serif;
}

.project-links {
  color: white;
}

.project-buttons {
  margin: 1rem;
}

.portfolio-projects {
  font-family: nunito, sans-serif;
  margin-bottom: 5rem;
}

.project-cards {
  height: 100%
}

.repos {
  color: #a64254;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.badge {
  color:  #38b09a;
  box-shadow: 1px 1px 5px #888888;
  margin-bottom: .5rem;
}

.contact-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
