div#root > div > section.portfolio-projects > div.container > h2 {
    color: #38b09a;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: nunito;
    font-weight: bold;
};

div#root > div > section.portfolio-projects > div.container > div.row > div.col.s12.m6.l6.projects-container > div.small.card > div.card-image.waves-effect.waves-block.waves-light > img.activator {
    background-color: #38b09a;
}